:root{
    --form-background-color: rgba(255, 255, 255, .1);
    --btn-background-color:  rgba(255, 250, 250, 0.918);
    --btn-focus-background-color: rgba(255, 250, 250, .8);
    --input-box-shadow: 1px 1px 2px  rgba(255, 250, 250, .8);
    --btn-box-shadow: 1px 1px 1px 2px rgba(107, 106, 106, 0.4);
    
    --accent-color: transparent;
    --primary-color: snow;
}



html, body{
    min-height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 62.5%;
    

    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    

    margin: 0;

}
/* =======================*/
/* Container do formulário*/
/*========================*/

form{
    width: 90%;
    max-width: 34rem;
    background-color: var(--form-background-color);
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.login{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;

    
    border: none;
}

.login__title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

    color: var(--primary-color);

    padding-top: 2rem;
}
/*=======================*/
/* Configuração dos input*/
/*=======================*/

input{
    outline: none;

    padding: .7rem 4rem .7rem .7rem ;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    color: var(--primary-color);
    box-shadow: var(--input-box-shadow);

    font-size: 1rem;
    font-weight: 500;

    transition: transform .5s ease;
}

input:focus{
    transform: translateX(2px);
}

input::placeholder{
    text-align: left;
    font-size: 1rem;

    padding: 0;

    color: var(--primary-color);

    transition: color .7s ease;
}

input:focus::placeholder{
    color: transparent;
}

.login__check{
    display: flex;
    align-items: center;

    font-size: .8rem;
    padding: .2rem 0 0 0;
    color: var(--primary-color);
    font-weight: 500;
    
}

label{
    padding: 0 0 0 .2rem;
}
input[type="checkbox"]{
    accent-color: var(--accent-color);
    cursor: pointer;
    
}

input[type="checkbox"]:focus{
    accent-color: var(--accent-color);
    transform: none;
}

/*====================*/
/* Configuração do btn*/
/*====================*/

.check-btn{
    margin-left: auto;

    text-decoration: none;
    color: var(--primary-color);
}

.btn{
    margin: .2rem 0 0 0;
    padding: .5rem;
    width: 100%;
    border-radius: 15px;
    border: 1px solid snow;

    background-color: var(--btn-background-color);
    color: #000;
    box-shadow: 1px 1px 1px 2px rgba(107, 106, 106, 0.4);

    font-weight: 600;
    font-size: .9rem;
}

.btn:hover{
    cursor: pointer;
    
}

.btn:focus{
    background-color: var(--btn-focus-background-color);
}

.login__registro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 500;
    color: var(--primary-color);
}

.registro-btn{
    text-decoration: none;
    font-weight: 600;
    padding: .3em;
    color: var(--primary-color);
}

.check-btn:hover, .registro-btn:hover{
    text-decoration: underline;
}